<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/424ce1386e.js" crossorigin="anonymous"></script>
    <title>Movies Site</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./assets/camara-de-video.png" width="30" height="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/create">Crear Película</a>
                    </li>
                </ul>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input class="form-control" name="buscar" placeholder="Buscar..." [(ngModel)]="query">
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-outline-success" (click)="buscar()"> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"> <strong>MOVIES SITE</strong> </h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class='row text-center' *ngIf='peliculas.length === 0'>
                <div class='col-md-12'>
                    <img class="img w-50 p-3" src="./assets/no_file.png">
                    <h3 class='text-muted'>
                        No hay películas ...
                    </h3>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                <div class="col" *ngFor="let pelicula of peliculas">
                    <div class="card shadow-sm">
                        <img src="{{URL_LARAVEL}}/api/uploads/{{pelicula.id}}" width="100%" height="350">

                        <div class="card-body">
                            <div class="align-items-center text-center">
                                <a routerLink="/show/{{pelicula.id}}" class="btn btn-secondary btn-lg btn-block">{{pelicula.nombre}}</a>
                            </div>
                            <br>
                            <small class="text-muted">{{pelicula.descripcion}}</small>
                            <br><br>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-marker"></i></button>
                                    <button type="button" class="btn btn-sm btn-outline-danger"><i
                                            class="fa fa-trash-alt"></i></button>
                                </div>
                                <small class="text-muted">{{pelicula.anio}}</small>
                                <small class="text-muted">{{pelicula.duracion}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</body>

</html>