<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/424ce1386e.js" crossorigin="anonymous"></script>
    <title>Movies Site</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <div class="container">
            <a class="navbar-brand">Movies Site</a>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input class="form-control" name="buscar" placeholder="Buscar..." [(ngModel)]="query">
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-outline-success" (click)="buscar()"> Buscar</button>
                </div>
            </div>
        </div>
    </nav>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Movies Site</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" *ngFor="let pelicula of peliculas">
                    <div class="card shadow-sm">
                        <img src="http://127.0.0.1:8000/api/uploads/{{pelicula.id}}" width="100%" height="350">

                        <div class="card-body">
                            <div class="align-items-center text-center">
                                <a href="" class="btn btn-secondary btn-lg btn-block">{{pelicula.nombre}}</a>
                                <br>
                                <small class="text-muted">{{pelicula.anio}}</small>
                            </div>
                            <br>
                            <p class="card-text"> <strong> Descripción: </strong> {{pelicula.descripcion}}</p>
                            <p class="card-text"> <strong> Género: </strong> {{pelicula.genero}} </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                    <button type="button" class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-marker"></i></button>
                                    <button type="button" class="btn btn-sm btn-outline-danger"><i
                                            class="fa fa-trash-alt"></i></button>
                                </div>
                                <small class="text-muted">{{pelicula.duracion}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="mb-1 text-center"> Sitio desarrollado por Anderson Portilla y Diego Bolaños</p>
        </div>
    </footer>

</body>

</html>